<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fs-2 text-uppercase" style="position: absolute; left: 50%; transform: translateX(-50%);">Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'order-list' %}">Заказы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Покупатели</a>
        </li>
      </ul>
    </div>
  </div>
</nav>