{% load order_tags %}

<tr>
    <td>{{ order.created }}</td>
    <td>{{ order.buyer }}</td>
    <td class="{{ order.status|bootstrap_status }}">{{ order.get_status_display }}</td>
    <td>{{ order.price }}</td>
    <td><a href="{{ order.link }}" target="_blank"> {{ order.link|get_name_by_url }}</a></td>

    <!--  Ячейка кнопок действия -->
    <td class="align-middle text-center">
        <!-- Кнопка "Обработать" -->
        <button class="disbtn table-button any-button btn btn-primary btn-sm me-2"
                hx-put="{% url 'update_order_details' order.id %}"
                hx-target="closest tr"
                hx-swap="outerHTML">
            Обработать
        </button>

        <!-- Кнопка "Отменить" -->
        <button class="disbtn table-button any-button btn btn-danger btn-sm"
                hx-delete="{% url 'cancel_order' order.id %}"
                hx-target="closest tr"
                hx-swap="outerHTML"
                hx-confirm="Уверен что хочешь отменить заказ?">
            Х
        </button>
    </td>
</tr>